* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #DDDDDD;
}

.cards-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 4em auto;
    max-width: 40em;
    max-width: 40em;
    gap: 1em;
    align-items: flex-start;
    align-content: flex-start;
    height: 300vh;
}

.card {
    flex: 0 0 200px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0.5em, rgba(0, 0, 0, 0.3);
    flex-direction: column;
    border: 2px solid #CCCCCC;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}

.card section,
.card footer {
    padding: 1em 1.2em;
}

.card footer {
    border-top: 2px solid #ccc
}

.card section {
    flex: 1.0 auto;
}