.static {
    display: flex;
    padding: 2em 1em 1em 2em;
}

.static-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.static-section h2{
    color: #f37c50;
    padding-bottom: 0.7em;
    font-size: 28px;
}

.static-section p {
    font-size: 10px;
    padding-top: 5px;
    padding-right: 10px;
}