@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Sans Serif Collection", sans-serif;
}

.site {
    width: 900px;
    margin: 0 auto;
    background: #efefef;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
}

.image {
    background-image: url('calculator.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}


.calculator {
    width: 50%;
}

.calculator {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #FFFFFF;
}

h1 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
}

h2 {
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: center;

    height: 5vh;
    gap: 4em;
}

.first-button,
.second-button {
    text-decoration: none;
    color: black;
    border: 2px solid #000000;
    border-radius: 1em;
    font-size: 12px;
    align-items: center;
}

.first-button {
    background: #86d862;
    padding: 1px 1em;
}

.second-button {
    background: #e0e0df;
    padding: 1px 3em;
}

#gender-select,
#input-year{
    width: 30%;
    gap: 1em;
    margin: 10px;
}

#input-weight {
    width: 80%;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    background: #05a2d3;
    padding: 1px 40%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

p:last-child {
    padding-bottom: 40px;
}

.height {
    padding-bottom: 40px;
}





