.aside-first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 6em;
    gap: 1em;
}


.aside-section {
    border: 1px solid #e8e5e5;
    background: #FFFFFF;
    gap: 1em;
    border-radius: 0.5em;
}

.aside-nav {
    border: 1px solid #e8e5e5;
    background: #85dcff;
    padding: 1em;
    border-radius: 0.5em;
}

.aside-section p:nth-child(2) {
    padding: 1em;
    font-size: 14px;
}

.aside-second-container {
    display: flex;
    gap: 3em;
    justify-content: center;
    padding-right: 3em;
}

.aside-second-container img {
    width: 400px;
}

input {
    padding: 0.6em;
    border-radius: 0.5em;
    margin: 2em 0
}

.aside-second-container h2 {
    margin: 2em 0 1em 0
}

.aside-right-second-section a {
    background: black;
    color: #FFFFFF;
    font-size: 12px;
    padding: 1em 4em;
    border-radius: 0.5em;
}