body {
    margin: 0px;
    padding: 0px;
    background: #CCCCCC;
}

ul {
    background: #444444;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

li {
    font-size: 24px;
    height: 40px;
    padding: 20px;
    display: inline-block;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

main {
    margin-left: 20px;
}

main p:first-of-type {
    font-style: italic;
}

header h1 {
    font-size: 28px;
}

main h2 {
    font-size: 24px;
}

footer {
    background: #444444;
    height: 40px;
}

footer p {
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
}