* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.site {
    display: flex;
    margin: auto 10em;
    width: 800px;
    background-image: url("images/background.jpg");
}

.container-left {
    display: flex;
    width: 60%;
    height: 400px;
    flex-direction: column;
    margin: 20px 10px 20px 30px;
}

.container {
    display: flex;
    border: 1px solid #000000;
    height: 200px;
    margin: 10px;
    background: #FFFFFF;
    padding: 20px;
}

.container-right {
    border: 1px solid black;
    height: 380px;
    width: 30%;
    margin: 30px 30px 20px 10px;
    background: #FFFFFF;
    padding: 20px;
}



.left p{
    font-size: 12px;
    width: 80%;
    padding: 20px 0;
}

.person {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px
}

.text-up p{
    padding: 30px 0 60px 0;
    font-size: 12px;
}

.img-down {
    display: flex;
    border-top: 1px solid #8f8f8f;
}

.other-person {
    width: 50px;
    height: 60px;
    border-radius: 50%;

}

.prof {
    margin: 10px;
}

.prof p {
    font-size: 10px;
}




