nav {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}
nav ul li a{
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.left-nav {
    padding-left: 4em;
}

.right-nav {
    padding-left: 6em;
}

nav ul li a:hover {
    background: #b7e8dd;
    border-radius: 5px;
}

.app {
    background: #b7e8dd;
    height: 20vh;
    text-align: center;
}

.app h1 {
    letter-spacing: 1px;
    padding-top: 30px;
}

.app p {
    padding-top: 10px;
}
.app article {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.app article a{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background: black;
    font-size: 12px;
}










