* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Karla', "Cormorant Infant", sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Cormorant Infant', serif;
    font-size: 90px;
    font-weight: normal;
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/poster.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-nav::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-nav nav {
    position: relative;
    z-index: 2;
}

.header-nav .header {
    position: relative;
    z-index: 2;
}

.header {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 10em 0;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    height: auto;
}

p {
    font-size: 18px;
}

.header p {
    font-size: 16px;
    font-weight: normal;
    max-width: 500px;
    margin: 0 auto;
    color: #d9d9d9;
}

.logo img {
    width: 5em;
}

nav {
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
}


.right-nav {
    display: flex;
    gap: 2em;
}

.right-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}



.first-container {
    background: #f8f0e9;
}

.first-container-info,
.second-container-info,
.three-container-info,
.first-container-info {
    max-width: 1000px;
    margin: auto;
}

.first-container-info p {
    padding: 1.5em 0 3em 0;
    font-size: 14px;
}

.first-container-info h2 {
    font-style: italic;
    font-size: 40px;
    padding-bottom: 2em;
    font-weight: 350;
}

.second-container {
    background: #e14747;
    color: #FFFFFF;
    text-align: center;
}

.second-container-info {
    max-width: 250px;
}

.second-container-info p {
    font-weight: normal;
    font-size: 14px;
    padding: 2em;
    line-height: 1.5;
    color: #d9d9d9;
}

.second-container-info h3 {
    padding-top: 2em;
}

.three-container {
    background: #f8f0e9;
}

.three-container-info {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.three-container-info img {
    width: 100%;
    padding-top: 2em;
}

.three-container-info h2 {
    padding: 1em 2em;
    font-size: 30px;
    text-align: center;
}

.three-container-info p {
    line-height: 1.5;
    font-size: 15px;
}

.read-more {
    margin: 2em 0;
}

.read-all {
    text-align: center;
}

.read-all,
.read-more {
    background: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #000000;
    color: black;
}

.read-buttons p:last-of-type {
    text-align: center;
    padding-bottom: 1em;
}

.read-buttons {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 2em 0;
}

.fourth-container {
    background: #e14747;
}

.fourth-container-info{
    text-align: center;
    padding: 3em 0;
    max-width: 1000px;
    margin: 0 auto;
}
.fourth-container-info h2{
    color: #FFFFFF;
    padding: 1em;
}

.fourth-container-info p {
    color: #d9d9d9;
    font-size: 16px;
    padding: 3em 0;
}

.find-local {
    border: 1px solid #000000;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 25px;
    font-size: 12px;
    background: #fad87a;
    color: #000000;
}

footer img {
    width: 5em;
}

footer {
    padding: 1em 3em;
    background: black;
    color: #FFFFFF;
}

footer p {
    padding-top: 1.5em;
    line-height: 1.5;
    font-size: 12px;
    max-width: 400px;
}

footer p:last-of-type {
    color: #a4a4a4;
}
