* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Helvetica, sans-serif;

}

h1, h2, h3 {
    font-family: Georgia, serif;
    font-weight: normal;
}

section {
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 4em auto;
    gap: 2em;
}


