@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
    font-family: Montserrat, sans-serif;
    padding: 16px;
}

table th {
    background-color: lightblue;
}

table th, td {
    width: 144px;
    height: 32px;
    border: 1px solid #ccc;
    solid-color: #CCCCCC;
}