* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
}

body > * {
    background: lightblue;
    padding: 1em;
    border-radius: 0.3em;
}

header, footer {
    flex: 1 1 100%
}

main {
    flex: 1 1 70%;
}

aside {
    flex:  1 1 25%;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }

}